.bg-warning {
    background-color: #ffc107 !important;
}

.card {
    width: 250px;
    margin: 10px;
}

img {
    width: 200px;
    height: 200px; 
    object-fit: cover; 

}
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}
.card-text {
    font-size: 0.9rem;
}
.container-fluid {
    padding: 20px;
}
h1 {
    margin-bottom: 20px;
}

